*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zm-main_bg:#000000;
    --zm-footer_bg: #222222;
    --zm-right_icons:#4a4a4a;
    --zm-share_screen:#4bc800;   
}
html{
    color: white;
}
.d-flex{
    display: flex;
}

/*header*/

.header_container{    
    justify-content: flex-end;
}

#app_header{
    background-color: #000000;
    padding: 0.5rem;
    color:white;
}

.speaker_view, .arrows{
    background-color: #4a4a4a;
    border: auto;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    margin: 5px;
}


/*main*/
main{
    width: 100%;
}

.main_container{
    width: 100%;
    margin: auto;
    background-color: #000000;
}

.row{
    display: flex;
    flex: wrap;
}

.col8{
    width: calc((100% / 12) * 8);
    padding: 1rem;
}

.pic{
    position: relative;
}

.badges > .mic,
.badges > .pincopallo{
    padding: 0;
    background-color: #4a4a4a;
    padding: 0.3rem;
}


