*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zm-main_bg:#000000;
    --zm-footer_bg: #222222;
    --zm-right_icons:#4a4a4a;
    --zm-share_screen:#4bc800;   
}
html{
    color: white;
}
.d-flex{
    display: flex;
}


/*header*/

.header_container{    
    justify-content: flex-end;
}

#app_header{
    height: 3rem;
    background-color: #000000;
    padding: 0.5rem;
    color:white;
}

.speaker_view, .arrows{
    background-color: #4a4a4a;
    border: auto;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    margin: 5px;
}


/*main*/
main{
    height: calc(100%);
    background-color: #000000;
}

.main_container{
    justify-content: center;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col8{
    width: calc(100% / 7);
    padding: 0.2rem;
    position: relative;
}

.badges > .mic,
.badges > .pincopallo {
    background-color: #4a4a4a82;
    padding: 0.3rem;
    font-size: 0.5rem;
}

.badges{
    position: absolute;
    bottom: 7px;
    left: 3px;
}

img{
    max-width: 100%;
}
/* endmain */

/*footer*/

#app-footer{
    height: 70px;
    background-color: var(--zm-footer_bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left, .footer-center, .footer-right{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 100%;
}

footer .icon > span{
    font-size: 0.8rem;
}

.footer-right button{
    height: 100%;
    padding: 0 1rem;
    color: red;
    background-color: #4a4a4a;
    border: none;
}

.green{
    color: var(--zm-share_screen)
}